<!DOCTYPE html>
<html>
<head>
  <title>WhodiniMain</title>
  <%= stylesheet_link_tag    "whodini_main/application", :media => "all" %>
  <%= javascript_include_tag "whodini_main/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
