@import "compass/typography/vertical_rhythm"
@include establish-baseline

html, body
  -webkit-font-smoothing: antialiased
  font-family: 'Helvetica Neue', sans-serif

h1
  @include adjust-font-size-to(48px)
  @include leader(0)
  @include trailer(0)
h2
  @include adjust-font-size-to(36px)
  @include leader(0)
  @include trailer(.5)
h3
  @include adjust-font-size-to(24px)
h4
  @include adjust-font-size-to(20px)
h5
  +adjust-font-size-to(18px)
p
  +adjust-font-size-to(16px)

h2.important
  @include leader(2)
  @include trailer(2)

a
  color: $whodini-green-dk
  &:hover,
  &:focus,
  &:active,
  &.active
    color: $whodini-green

// Useful mixins
//@rhythm-borders(px, x, x)
//@leading-border(x, x, x) // border-width, trailer, font-size
//@include adjust-font-size-to(x);
//@include adjust-leadin-to(x);
//@include adjust-font-size-to(x);
//@include adjust-leading-to(x);
//@include leader(x);
//@include trailer(x);
//@include rhythm(x,x,x,x,$base-font-size); //trailer, padding-trailer, padding-leader, leader, font-size